
  @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=Heebo:wght@800&family=Hind&family=Montserrat&family=Mooli&family=Outfit:wght@200&family=Tajawal:wght@300&display=swap');

.header{
    border: none;
    box-shadow: none;
    background-color:#4E03B6;
 padding: none;
 margin-top: none;
}
.header nav div{
    background-color:#4E03B6;
    padding-top: 0;
    margin: 0;
   
}
.titulo{
    color:white;
    font-size: 30px;
    font-family: 'Mooli', sans-serif;
    margin: 5px;
}


.g4c a:hover{
    color: black;
    
}
.g4c a{
    font-size: 30px;
    color: white;
    padding: 10px;
}
.main {
    background-color:#3E1A72;
}
.inicio a{
   align-items: end;
   text-decoration: none;
   color:white;
   font-size: 14px;
}
.plan{
    color: white;
    font-family:  'Montserrat', sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 30px;
}
.card{background:none;
    background-color:#3A1865;
    background-color:#3A1865;
    border-radius:20px;
    border:none;
    background: none;}

.Planes{
  
  background-color:#3A1865;
  border-radius:20px;
 margin-left: 50px;
  width: 250px;
  
}
.Planes:hover{
    background-color:#3E1A72;
    border-radius:20px;
  
}
.planSus{
    background-color:#55259D;
    border-radius: 20px;
    height: 320px;
    border-color: #3D1359;
    
    
}
.planSus2{
    background-color:#3A1865;
    border-radius: 20px;
    height: 320px;
    border-color: #3D1359;
}
.planSus h5{
    color: white;
    text-align: center;
    font-family:  'Montserrat', sans-serif;
}
.planSus p{
    color: white;
    text-align: center;
    margin-top: 90px;
}
.planSus2 p{
    color: white;
    text-align: center;
    margin-top: 90px;
}
.planSus2 h5{
    color: white;
    text-align: center;
  
}
.boton{
    margin-top: 40px;
    text-decoration: none;
}
.boton:hover{
    color: black;
}
.Incluido{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.lista{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   color: white;
margin: 20px;
}
.banner{
    background-color:#3A1865;


}
.banner p{
    color: white;
   font-size: 16ppx;
   padding: 30px;
   font-family:  'Montserrat', sans-serif;
  
}
.banner h5{
    color: white;
    font-size: 36px;
    font-family:  'Montserrat', sans-serif;
}
.Pelicula{
    display: flex;
    justify-content: center;
    margin-left: 30px;
   height: 600px;
   width: 1300px;
   background-color:#3A1865;
   border-color:#3D1359;
   border-radius:20px;
}
.Pelicula img{
    height: 530px;
    margin: 30px;
}

.botonPregunta{
    margin: 30px;
    margin-right: 20px;

}
.botonPregunta:hover{
    background-color: #3A1865;
    color: black;
}
.preguntasF{
    margin-left: 150px;
}
footer{
    height: 120px;
    background-color: #381863;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 12px;
}
.iconos{
width: 100%;
    text-align: center;
}

button{
    color: #411972;
}
.PreguntaCuerpo{
    background-color:aliceblue;
    border-radius: 10px
}

/*Pagina registrarse*/
 .headerInicio{
    border: none;
    box-shadow: none;
    background-color:#4E03B6;
 padding: none;
 margin-top: none;
 }
 .headerInicio nav div{
    background-color:#4E03B6;
    padding-top: 0;
    margin: 0;
   
}
.tituloInicio{
    color:white;
    font-size: 30px;
    font-family: 'Mooli', sans-serif;
    align-content: center;
    margin-left: 550px;
    padding: 10px;
   
}
.mainInicio {
    background-color:#3E1A72;
    height:600px;
}
.Registrarse{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.planInicio{
    color: white;
    font-family:  'Montserrat', sans-serif;
padding-top:40px ;
    margin-bottom: 30px;
    font-size: 30px;
}
.Etiquetas{
    padding: 15px;
    width: 400px;
}

.Etiquetas:hover{
    color: black;
}
.Etiquetas input:hover{
color: #3D1359;
}
/* @media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
      display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }
  
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-start,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
    //transition-duration: 10s;
  }
  
  /* display 4 */
 /* @media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
      transform: translateX(25%) !important;
    }
  
    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
    }
  
    .carousel-item-next.carousel-item-start, .active.carousel-item-end {
      transform: translateX(0) !important;
    }
  
    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
    }
  }
  */

  .container{
    display: flex;
    flex-direction: column;
    justify-content:left;
  }
  .container div{
    color: white;
  }
  .botonpregunta{
    display: flex;
    justify-content:left;
    width: auto;
    margin: 30px;
    background-color: #381863;
  }

  .mainpreguntas {
    background-color:#3E1A72;
    height: 800px;
}
.Bannerpelis{
    background-color: rgba(128, 128, 128, 0.3);
 
    border-radius:7px;
}
.Bannerpelis p{
   font-size: 18px;
}
.botonhome:hover{
background-color: #381863;
}
.mainhome {
    background-color:#3E1A72;
    height: 1200px;
}
.Seleccion{
    background-color:#5925a1;
}
.Seleccion p{
    font-size: 18px;
    text-align: left;
    margin: 10px;
    color: white;
    font-family:  'Montserrat', sans-serif;
}